*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: 100vw;
    /* overflow-x: hidden; */
}
.allsection{ 
    background-image: url(https://www.iplt20.com/assets/images/bottom-section-bg.svg);
    background-repeat: repeat-y; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow-x: hidden;
    
}
.header{
    height: 15vh;
    width: 100vw;
    background-color: rgb(8, 16, 51);
    padding: 30px;
    display: flex;
    gap: 70vh;
   
}
.matchTitle{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
/* .absolute{
padding-left: 650px;
background-color:white;
} */
 
 .threePoint{
    border-radius: 10px;
    background-color:white;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    margin-top: 13px;
    margin-left: -100px;
    box-shadow: 0px 0px 1px  rgb(84, 83, 83), -0px 0px 1px  rgb(84, 83, 83);
    /* cursor: pointer; */

 }
 .fixture button{
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 10px;
    background-color:white;
    color: rgb(116, 111, 108);
    font-weight: 400;
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 }
 .fixture button:hover{
   background-color: rgb(8, 16, 51);
   color: white;
   cursor: pointer;
 }


 .salector{
    padding-top:100px ;
    display: flex;
    justify-content: center;
     gap: 30px;
 }
 .allTeam{
    padding-left: 20px;
 }
 .allTeam select:hover{
    cursor: pointer;
 }
 .allvenue select:hover{
    cursor: pointer;
 }
 .season select:hover{
    cursor: pointer;
 }
 
 .gender select:hover{
    cursor: pointer;
 }
 

 .allvenue{
    padding-left: 50px;
 }
 .option {
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color:white;
    color: rgb(10, 10, 10);
    box-shadow: 0px 0px 1px  rgb(206, 204, 204), -0px 0px 1px   rgb(206, 204, 204);
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #11141C; 
 }

 .option2 {
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #11141C;
 }


.venue{
    display: flex;
    height: 32vh;
    width: 70vw;
    gap: 30px;
    margin-top: -5px;
}
@media  only screen and (max-width:768px) {
   
    .matchTitle{
        display: flex;
        justify-content: center;
        align-items: center;
       margin: 10px;
    }
    .matchTitle h2{
      display: flex;
     margin-top: 10px;
    }
    .header{
        width: 110vw;
       
    }
    .salector{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 600px;
    }
   
    .threePoint{
        width: 700px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 56px; 
        box-shadow: 0px 0px 1px  rgb(84, 83, 83), -0px 0px 1px  rgb(84, 83, 83);
    }
    .gender select{
        width: 200px;
    }
    .allTeam select{
        
        width: 200px;
    }
    .allvenue select{
        
        width: 200px;
    }
    .season select{
        
        width: 200px;
    }
    
   
   .venue0{
    width: 60vw;
    height: 300vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 1px  rgb(145, 143, 143), -0px 0px 1px  rgb(84, 83, 83);
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10px;
   } 
   .venue{
    display: flex;
    flex-shrink: 2;
   }
   
    .second1{
        height: 150px;
        width: 500px;
    }
   
    .heading h1{
        font-size: 12px;
        line-height: 10px;
    
    }
    .title h4{
        font-size: 7px;
        line-height: 10px;
    }
    .third{
        height: 150px;
        width: 150px;
        /* margin-left: -100px; */
    }
 .img1 img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* margin-top: -2000px; */
 }
 .img2 img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* margin-top: -2000px; */
 }
 
   .paragraph{
    height: 10px;
    width: 100px;
    font-size: 7px;
   }
   .upperpart span{
    width: 30px;
    font-size: 7px;
   }
   .upperpart .final1{
    width: 60px;
   }
   .upperpart .timeline-dot{
        height: 4px;
        width: 4px;
        border-radius: 50%;
   }
   .first .paragraph{
    height: 180px;
    width: 100px;
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 100px;
    
    /* margin-left: 30px; */
   }
   .venue .second2{
    height: 100px;
    width: 100px;
   }
   .third .button button{
    height: 33px;
    width: 64px;
   }
   /* .third .icon1{
    height: 20px;
    width: 20px;
   }
   .third .icon2{
    height: 20px;
    width: 20px;
   } */
   .venue .third{
    width: 70px;
    padding-top: -20px;
    gap: 20px;
   }
   .venue .third .button button{
    font-size: 7px;
    margin-top: -20px;
   }
   .venue .third .icon1{
    height: 10px;
    width: 10px;
    margin-top: -20px;
   }
   .venue .third .icon2{
    height: 10px;
    width: 10px;
    margin-top: -20px;
   }

   .afterfirst .dottedLine{
    margin-top: 262px;
    height: 60svh;
   }
   .Horizontalline hr{
       color:rgb(84, 83, 83) ;
       width: 600px;
 }
   
  

}
.venue0{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85vw;
    height: 353vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 1px  rgb(145, 143, 143), -0px 0px 1px  rgb(84, 83, 83);
    position: relative;
     overflow: hidden;
     margin: 80px;
        
}
.first p{
    width: 200px;
    height: 200px; 
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: black;
    display: flex;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
    
}
.afterfirst{
    height: 250px;
    width: 1px;
    padding-right: 20px;
    display: flex;
    text-align: start;
    transform: rotate(90deg);
    position: absolute;
    margin-left: 242px;
}
.dottedLine{
    position: absolute;
    z-index: 1;
    margin-top: 165px;
    margin-left: -165px;
    /* height: 100px; */
}
.dottedLine1{
    position: absolute;
    z-index: 1;
    margin-top: 165px;
    margin-left: -165px;
    /* height: 100px; */
}
.second2{
    height: 190px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -30px;
    /* margin-left: 20px; */
    /* border: 1px solid black; */
}
.third{
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.button button{
    /* margin-left: 10px; */
    height: 40px;
    width: 130px;
    color: white;
    background-color: rgb(181, 69, 16);
    border: none;
    border-radius: 5px;
    transform: skew(-20deg);
    cursor: pointer;
    margin-top: -40px;
    margin-left: 50px;
}
.icon1 img{
    height: 20px;
    width: 20px;
    border-radius: 505;
}
.icon2 img{
    height: 20px;
    width: 20px;
    border-radius: 505;
}
.icon1 img:hover{
    cursor: pointer;
    z-index: 1;
}
.icon2 img:hover{
    cursor: pointer;
}
.button button:hover{
    background-color: white;
    color: rgb(181, 69, 16) ;
    border: 1px solid rgb(181, 69, 16) ;
}
.upperpart{
    display: flex;
    margin: 10px;
    align-items: center;

}
 .final{
    height: 30px;
    width: 70px;
    border: 1px solid #367C3D;
    background: #FFF;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    color: #282B32;
    border-radius: 2px;
    /* padding: 8px; */
    padding-left: 0px;
    padding-top: 8px;
 }

 .final1{
    height: 1px;
    width: 110px;
    border: 1px solid #367C3D;
 }
 .timeline-dot{
     height: 15px;
     width: 15px;
    border-radius: 50%;
     background-color: #367C3D;
 }
 .title{
    margin-left: 12px;
 }
 .heading{
    font-size: 10px;
    line-height: 18px;
    margin-left: 30px;
    margin-top: 20px;
    gap: 10px;
 }
 .Horizontalline hr{
    width: 85vw;
       color:rgb(84, 83, 83) ;
 }
.dottedLine hr{
    border-top: 2px dotted green;
    transform: rotate(90deg);
}

